\
# Day 5 Solved Assignments

 __Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers.__

In [15]:

for n in range(1,20):
    if n > 1:
        for i in range(2, n):
            if (n % i) == 0:
                break
        else:
            print(n,end=" ")

2 3 5 7 11 13 17 19

__Question 2 :
Write a Python program to implement 15 functions of string.__

In [26]:
s="i am upgrading with letsUpgrade"

In [27]:
c=s.capitalize()
print(c)

I am upgrading with letsupgrade

In [68]:
d=s.casefold()
d

'hello'

In [69]:
s2="hello"
print(s2.center(20))

       hello

In [45]:
e=s.count("am")
e

0

In [48]:
str1="here i am"
str1.encode()

b'here i am'

In [49]:
str1.endswith("e")

False

In [50]:
len(str1)

9

In [51]:
str1.find("here")

0

In [52]:
str1.index("i")

5

In [53]:
str1.isalnum()

False

In [54]:
str1.isalpha()

False

In [55]:
digi="1111"
digi.isdigit()

True

In [56]:
str1.isupper()

False

In [63]:
n=str1.replace("i","we")
n.replace("am","are")

'here we are'

In [64]:
str1.split()

['here', 'i', 'am']

In [65]:
str1.swapcase()

'HERE I AM'

In [67]:
str1.title()

'Here I Am'

__Question 3:
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.__

In [66]:
str3="aad"
f=list(str3)
d=[]
i=len(str3)-1
while i>=0:
    d.append(str3[i])
    i=i-1

if(d==f):
    print("palindrom")
else:
    print("not palindrom")

not palindrom

__Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".__

In [74]:
     
str1="Dr. Darshan Ingle @AI-ML Trainer"

In [75]:
rm=['.',' ','@','-']

In [76]:
for i in rm:
    str1=str1.replace(i,"")
print(str1.lower())

drdarshaningleaimltrainer