# Day 6  Solved Assignment

__Question 1:<br>
Assuming that we have some email addresses in the username@companyname.com format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.__

In [1]:
email=input("enter email address :")
l=len(email)
a=email.find("@")
d=email.find(".",a,l)
print("Company Name :",email[a+1:d])
print("User Name :",email[:a])

enter email address :abhijitmahajan772@gmail.com
Company Name : gmail
User Name : abhijitmahajan772

__Question 2:<br>
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.__

In [12]:
string=input("enter string : ")
l=string.split(",")
x=sorted(l)
a=",".join(x)
a

enter string : without,hello,bag,world

'bag,hello,without,world'

__Question 3:<br>
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp__

In [4]:
courses={"ai","ml","js","python","blockchain"}

In [5]:
for i in courses:
    print(i)

python
js
ml
ai
blockchain

In [6]:
print("ai" in courses)
courses.add("ds")
courses

True

{'ai', 'blockchain', 'ds', 'js', 'ml', 'python'}

In [7]:
courses.update(["'ai', 'blockchain', 'ds', 'js', 'ml', 'python","react"])

In [8]:
courses

{"'ai', 'blockchain', 'ds', 'js', 'ml', 'python",
 'ai',
 'blockchain',
 'ds',
 'js',
 'ml',
 'python',
 'react'}

In [9]:
len(courses)

8

In [10]:
courses.pop()

"'ai', 'blockchain', 'ds', 'js', 'ml', 'python"

In [13]:
courses.clear()
courses

set()

In [20]:
set1={"a","e","i","o","u"}
set2={"1","2","3","4"}
set2.remove("2")
print(set2)

{'3', '1', '4'}

In [28]:
z=set2.pop()
print(z)
x=set2.update(set1)

1

In [27]:
set2.add("x")
set2

{'1', '4', 'a', 'e', 'i', 'o', 'x'}

In [32]:
#intersection
a={"a","b","c"}
b={"x","y","z","a"}
new=a.intersection(b)
print(new)

{'a'}

In [33]:
#union
new1=a.union(b)
print(new1)

{'a', 'b', 'z', 'y', 'x', 'c'}

In [35]:
new2=a.copy()
new2

{'a', 'b', 'c'}

In [36]:
r=a.isdisjoint(b)
r

False

In [37]:
r2=a.issubset(b)
r2

False

In [38]:
r3=a.issuperset(b)
r3

False

__Question 4:<br>
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.__

In [46]:
def function1(lst):
    l=len(lst)
    fm=(l+1)*(l+2)/2
    sum_lst=sum(lst)
    result=fm-sum_lst
    return int(result)

In [47]:
lst=[1,2,3,5]
op=function1(lst)
print(op)

4

__Question 5:<br>
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.__

In [53]:
def func2(ip):
    ls=[]
    for i in ip:
        if(i not in ls):
            ls.append(i)
    return ls

In [54]:
ip=[12,24,35,24,88,120,155,88,120,155]
op=func2(ip)
for i in op:

[12, 24, 35, 88, 120, 155]